USE [master]
GO
/****** Object:  Database [Livraria]    Script Date: 07/03/2020 01:54:00 ******/
CREATE DATABASE [Livraria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Livraria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Livraria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Livraria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Livraria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Livraria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Livraria]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 07/03/2020 01:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[AutorId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](400) NOT NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[AutorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 07/03/2020 01:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[GeneroId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](400) NOT NULL,
 CONSTRAINT [PK_Editora] PRIMARY KEY CLUSTERED 
(
	[GeneroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instituicao]    Script Date: 07/03/2020 01:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instituicao](
	[InstituicaoId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[Endereco] [varchar](500) NOT NULL,
	[CNPJ] [varchar](14) NOT NULL,
	[Telefone] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Instituicao] PRIMARY KEY CLUSTERED 
(
	[InstituicaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livro]    Script Date: 07/03/2020 01:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livro](
	[LivroId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[GeneroId] [int] NOT NULL,
	[AutorId] [int] NOT NULL,
	[Sinopse] [varchar](500) NOT NULL,
	[ImagemCapa] [varbinary](max) NOT NULL,
	[ImagemCapaContentType] [varchar](30) NULL,
 CONSTRAINT [PK_Livro] PRIMARY KEY CLUSTERED 
(
	[LivroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocacaoLivro]    Script Date: 07/03/2020 01:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocacaoLivro](
	[LocacaoId] [int] IDENTITY(1,1) NOT NULL,
	[DataLocacao] [datetime] NOT NULL,
	[DataEntrega] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[LivroId] [int] NOT NULL,
	[Devolvido] [bit] NOT NULL,
	[DataLiberacao] [datetime] NULL,
	[DataDevolucao] [datetime] NULL,
 CONSTRAINT [PK_Locacao_Livro] PRIMARY KEY CLUSTERED 
(
	[LocacaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva_Livro]    Script Date: 07/03/2020 01:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva_Livro](
	[ReservaId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[LivroId] [int] NOT NULL,
 CONSTRAINT [PK_Reserva_Livro] PRIMARY KEY CLUSTERED 
(
	[ReservaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 07/03/2020 01:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](400) NOT NULL,
	[Endereco] [varchar](600) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[InstituicaoId] [int] NOT NULL,
	[Telefone] [varchar](20) NOT NULL,
	[Email] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocacaoLivro]  WITH CHECK ADD  CONSTRAINT [FK_LocacaoLivro_Livro] FOREIGN KEY([LivroId])
REFERENCES [dbo].[Livro] ([LivroId])
GO
ALTER TABLE [dbo].[LocacaoLivro] CHECK CONSTRAINT [FK_LocacaoLivro_Livro]
GO
ALTER TABLE [dbo].[LocacaoLivro]  WITH CHECK ADD  CONSTRAINT [FK_LocacaoLivro_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[LocacaoLivro] CHECK CONSTRAINT [FK_LocacaoLivro_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Instituicao] FOREIGN KEY([InstituicaoId])
REFERENCES [dbo].[Instituicao] ([InstituicaoId])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Instituicao]
GO
USE [master]
GO
